input {
  width: 100%;
  padding: 1em;
}

textarea {
  width: 100%;
  padding: 0 1em 0 1em;
  min-height: 2em;
  max-height: 6em;
}

button {
  width: 100%;
}

.form__body {
  width: 1049px;
  height: auto;
}

.form__name-input {
  height: 2em;
}

.form__post-input {
  height: 6em;
}
