.body {
    width: 1049px;
    background-color: white;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
    border-bottom-style: solid;
    border-bottom-color: rgb(112, 112, 112);
    border-bottom-width: 1px;
}

.button {
    background-color: default;
}

.button--liked {
    background-color: green;
}

.button--disliked { 
    background-color: red;
}
