.body {
  width: 1049px;
  background-color: white;
  padding-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 20px;
  border-bottom-style: solid;
  border-bottom-color: rgb(112, 112, 112);
  border-bottom-width: 1px;
}

.button {
  color: #848484;
}

.button--liked {
  color: green;
}

.button--disliked {
  color: red;
}
