.blue-background {
  background-color: #E2F2EE;
}

div, nav, form {
  /* Prevent div size from changing when adding padding */
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;
}

.spacer {
  margin-top: 122px;
}
.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secondary-text {
  color: rgb(112, 112,112);
}
.content-section {
  background-color: white;
  padding-top: 22px;
  padding-bottom: 22px;
  border-radius: 20px;
  border-color: rgb(126,126,126);
  border-width: 1px;
  border-style: solid;
  margin: 20px;
  box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.411);
}